@media screen and (max-width: 640px) {
    .event-title {
        font-size: 28px;
    }

    .tab-size {
        height: 40px;
        width: 130px;
    }

    .search-input {
        width: 75%;
    }
}