.ant-table-thead {
    .ant-table-cell {
        background: white!important;
        color: var(--theme-primary)!important;
    }
}

.ant-table-filter-dropdown-btns {
    .ant-btn-primary {
        background: var(--theme-primary)!important;
    }
}