.loginContainer {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.11);

    .login-header {
        line-height: normal;
    }

    .login-desc {
        line-height: normal;
    }

    .anticon svg {
        width: 24px;
        height: 24px;
        color: #9398a3;
    }

    .username-input {
        border: 1px solid var(--theme-neutral);
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .ant-input::placeholder {
        color: #9398a3;
    }

    .password-field {
        border: 1px solid var(--theme-neutral);
        border-radius: 0px;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;

        .ant-input-affix-wrapper {
            outline: none;
        }
    }

    .password-field-focused {
        border: 1px solid var(--theme-primary);
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;

        .ant-input-affix-wrapper {
            outline: none;
        }
    }
}

@media (max-width: 330px) {
    .form-container {
        width: 230px!important;
    }

    .login-header {
        font-size: 26px;
    }
}