.item {
    font-size: 15px;
    background: linear-gradient(180deg, #2C4C32 51.56%, rgba(44, 76, 50, 0.80) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}