.loginContainer {
    position: relative;
    overflow: hidden;
    width: 832px;
    height: 624px;
    flex-shrink: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.11);

    .loginSvg {
        position: absolute;
        right: 210px;
    }

    .login-form {
        left: 440px;
        top: 100px;
        width: 350px;

        .login-header {
            color: #1B3B22;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.6px;
        }

        .login-desc {
            color: #0C0D0D;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .input-global-div {
            height: 50px;

            .field-icon {
                color: var(--theme-neutral);
            }
        }

        .customButton {
            width: 105px;
            height: 32px;
        }
    }
}

@media only screen and (max-width: 1023px) {
    .loginSvg {
        right: 150px !important;
    }

    .login-form {
        left: 440px !important;
        top: 100px !important;
        width: 300px !important;
    }
}

@media only screen and (max-width: 767px) {
    .loginSvg {
        right: 150px !important;
    }

    .login-form {
        left: 300px !important;
        top: 100px !important;
        width: 300px !important;
    }
}