$placeholder: (
    '.vm-placeholder input::-webkit-input-placeholder',
    '.vm-placeholder input:-moz-placeholder',
    '.vm-placeholder input::-moz-placeholder',
    '.vm-placeholder input:-ms-input-placeholder',
    '.vm-placeholder input::input-placeholder',
    '.vm-placeholder input::placeholder'
);

@each $selector in $placeholder {
    #{$selector} {
        color: #0C0D0D !important;
        font-weight: 600;
    }
}

.ant-select-selector {
    background: #DFEAEF !important;
    border: none !important;

    .ant-select-selection-item {
        padding-left: 10px !important;
    }
}

.ant-input {
    background: #DFEAEF !important;
    border: none !important;
}

.ant-input:focus {
    --tw-ring-color: transparent !important;
    --tw-ring-shadow: transparent !important;
    box-shadow: none !important;
}

.vm-placeholder {
    span {
        color: #0C0D0D;
    }
}

.ant-picker-range {
    background: #DFEAEF !important;
    border: none;
}

.ant-modal-footer {
    .ant-btn-primary {
        background: var(--theme-primary) !important;
    }
}

.ant-btn-primary {
    background: var(--theme-primary) !important;
}

.ant-input-number-input:focus {
    --tw-ring-color: transparent !important;
    --tw-ring-shadow: transparent !important;
}