$vm_placeholder: (
    'input::-webkit-input-placeholder',
    'input:-moz-placeholder',
    'input::-moz-placeholder',
    'input:-ms-input-placeholder',
    'input::input-placeholder',
    'input::placeholder',
);

@each $selector in $vm_placeholder {
    #{$selector} {
        color: #0C0D0D;
        font-weight: 600;
    }
}

$placeholder: (
    '.ant-picker-input input::placeholder'
);

@each $selector in $placeholder {
    #{$selector} {
        color: #0C0D0D !important;
    }
}

.ant-input-number:focus {
    background: #DFEAEF;
}


.ant-input {
    background: #DFEAEF !important;
    border: none !important;
}

.ant-input:focus {
    --tw-ring-color: transparent !important;
    --tw-ring-shadow: transparent !important;
    box-shadow: none !important;
}

.vm-placeholder {
    span {
        color: #0C0D0D;
    }
}

.ant-picker-range {
    background: #DFEAEF !important;
    border: none;
}

.ant-picker {
    background: #DFEAEF !important;
}

.ant-modal-footer {
    .ant-btn-primary {
        background: var(--theme-primary) !important;
    }
}

.ant-btn-primary {
    background: var(--theme-primary) !important;
}

.ant-input-number-input:focus {
    --tw-ring-color: transparent !important;
    --tw-ring-shadow: transparent !important;
}

.ant-select {
    .ant-select-selector {
        background: #DFEAEF !important;
        border: none !important;

        .ant-select-selection-placeholder {
            color: #727470;
        }
    }

    .ant-select-selector {
        padding: 12px !important;
    }

    .ant-select-selection-search-input:focus {
        outline: none !important;
        border-color: transparent !important;
        --tw-ring-color: transparent !important;
        --tw-ring-shadow: transparent !important;
    }

    .ant-select-arrow,
    .ant-select-clear {
        color: #0C0D0D;
    }
}

@media (max-width: 767px) {
    .ant-picker-dropdown {
        left: 20px !important;
    }

    .ant-picker-datetime-panel {
        flex-direction: column
    }
}

@media (max-width: 330px) {
    .plate-num {
        width: 38% !important;
    }

    .logo-img {
        height: 42px !important;
    }

    .ant-picker-dropdown {
        left: 0px !important;
    }

    .ant-picker-datetime-panel {
        flex-direction: column
    }
}