$placeholder: (
    '.vm-placeholder::-webkit-input-placeholder',
    '.vm-placeholder:-moz-placeholder',
    '.vm-placeholder::-moz-placeholder',
    '.vm-placeholder:-ms-input-placeholder',
    '.vm-placeholder::input-placeholder',
    '.vm-placeholder::placeholder'
);

@each $selector in $placeholder {
    #{$selector} {
        color: #0C0D0D !important;
        font-weight: 600;
    }
}

.transition-alert {
    transition-timing-function: linear;
    transition-duration: 150ms;
}

.visitor-details {
    .ant-input {
        border: none !important;
        background-color: #DFEAEF !important;
    }

    .ant-input-password {
        border: none !important;
        background-color: #DFEAEF !important;

        input {
            background-color: #DFEAEF !important
        }
    }
}

.search-visitor {
    .ant-input-wrapper {
        .ant-input-outlined {
            .ant-input {
                background-color: transparent !important;
            }
        }

        .ant-input-group-addon {
            .ant-btn {
                height: 33.6px;
            }
        }

    }
}