.phone-input-walk-in {
    input {
        height: 35px;
        border-radius: 5px;
        border: none;
        border-style: none;
        background-color: #DFEAEF;
    }

    input:focus {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(12 162 120 / var(--tw-ring-opacity));
    }

    input:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(144 220 198 / var(--tw-bg-opacity));
    }

    .PhoneInputCountry {
        .PhoneInputCountrySelect:focus {
            --tw-ring-color: transparent;
            border-color: transparent
        }
    }
}

@media (min-width: 768px) {
    .phone-input-walk-in {
        margin-left: 42px;
    }
}