$placeholder: (
    '.vm-placeholder::-webkit-input-placeholder',
    '.vm-placeholder:-moz-placeholder',
    '.vm-placeholder::-moz-placeholder',
    '.vm-placeholder:-ms-input-placeholder',
    '.vm-placeholder::input-placeholder',
    '.vm-placeholder::placeholder'
);

@each $selector in $placeholder {
    #{$selector} {
        color: #0C0D0D !important;
        font-weight: 600;
    }
}