@import url("../../App.scss");
@import url("../../index.scss");

.header-name {
    color: #1B3B22;
}

.ant-modal-content {
    .ant-btn-primary {
        background-color: var(--theme-primary);
    }

    .ant-btn-primary {
        background-color: var(--theme-primary) !important;
    }
}

.notification-dropdown {
    .ant-dropdown-menu-root {
        padding: 10px 10px 15px 10px !important;
        height: auto !important;
        max-height: 80vh;
        overflow: scroll;
        display: flex;
        flex-direction: column-reverse;
        scroll-behavior: smooth;
        -webkit-scroll-behavior: smooth;

        .ant-dropdown-menu-item {
            cursor: auto;
        }

        .ant-dropdown-menu-item-active {
            background-color: var(--theme-primary) !important;

            .unread,
            .time,
            .notice,
            .not-found {
                color: white;

            }
        }
    }
}

.notifications {
    .icon {
        display: flex;
        align-items: center;

        .count {
            background-color: var(--theme-primary);
        }
    }

    .container {
        border-radius: 10px;
        z-index: 3 !important;

        .header {
            display: flex;
            align-items: center;
            padding: 10px !important;

            .header-title {
                font-size: 18px
            }

            .header-option {
                color: var(--theme-primary);
            }
        }

        .items {
            .card {
                .content {
                    .image {
                        display: none;
                    }
                }
            }
        }

        .footer {
            display: flex;
            justify-content: center;

            .see-all {
                color: var(--theme-primary) !important;
            }
        }
    }
}

.notification:hover {
    .unread {
        color: white;
    }
}

.account-dropdown {
    .ant-dropdown-menu-item-active {
        background-color: var(--theme-primary) !important;
        color: white !important;
    }
}

@media (min-width: 200px) {
    .header-name {
        display: none;
    }
}

@media (min-width: 768px) {
    .h-inherit {
        height: inherit;
    }

    .header-name {
        display: contents;
    }
}

@media (max-width: 769px) {
    .mobile-dropdown {
        position: static;
    }
}

@media (min-width: 1024px) {
    .header-name {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}