@import url("../../App.scss");

.header-name {
    color: #1B3B22;
}

.notification-dropdown {
    .ant-dropdown-menu-root {
        padding: 10px 10px 15px 10px !important;
        height: auto !important;
        max-height: 80vh;
        overflow: scroll;

        .ant-dropdown-menu-item {
            cursor: auto;
        }

        .ant-dropdown-menu-item-active {
            background-color: var(--theme-primary) !important;

            .unread,
            .time,
            .notice,
            .not-found {
                color: white;

            }
        }
    }
}

.account-dropdown {
    .ant-dropdown-menu-item-active {
        background-color: var(--theme-primary) !important;
        color: white !important;
    }
}

@media (min-width: 200px) {
    .header-name {
        display: none;
    }
}

@media (min-width: 768px) {
    .h-inherit {
        height: inherit;
    }

    .header-name {
        display: contents;
    }
}

@media (max-width: 769px) {
    .mobile-dropdown {
        position: static;
    }
}

@media (min-width: 1024px) {
    .header-name {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}